<div id="<%= dom_id entry %>">
  <p>
    <strong>Question name:</strong>
    <%= entry.question_name %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= entry.difficulty_level %>
  </p>

  <p>
    <strong>No of questions:</strong>
    <%= entry.no_of_questions %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= entry.points %>
  </p>

</div>
